[submodule "opscode-cookbooks"]
	path = opscode-cookbooks
	url = git://github.com/opscode/cookbooks.git
[submodule "rvm-cookbook"]
	path = rvm-cookbook
	url = git://github.com/papercavalier/rvm-cookbook.git
