[submodule "chef/opscode-cookbooks"]
	path = chef/opscode-cookbooks
	url = git://github.com/opscode/cookbooks.git
[submodule "chef/rvm-cookbook"]
	path = chef/rvm-cookbook
  url = git://github.com/jlewallen/rvm-cookbook.git
