<div>

  <% @containers.each do |container| %>
  <div class="container">
    <h2><%= container.name %></h2>
    <h3><%= container.path %></h3>
    <h3><%= container.status %></h3>
  </div>
  <% end %>

</div>
