<div>
  <form method="POST" action="/containers" AUTOCOMPLETE="off">
    <fieldset> 
    <legend>Setup</legend>
    <p>
      <label for="name">Name</label><br/>
      <INPUT NAME="container[name]" value="" class="text"></INPUT>
    </p>
    <p>
      <label for="key_pair">Key Pair</label><br/>
      <%= selection("container[key_pair_id]", @key_pairs, @resource.key_pair) %>
    </p>
    <p>
      <label for="startup">Startup</label><br/>
      <%= selection("container[startup_id]", @startups, @resource.startup) %>
    </p>
    </fieldset> 
    <fieldset> 
    <legend>Networking</legend>
    <p>
      <label for="address">Address</label><br/>
      <INPUT NAME="container[address]" value="192.168.0.0" class="text"></INPUT>
    </p>
    <p>
      <label for="mask">Netmask</label><br/>
      <INPUT NAME="container[mask]" value="255.255.255.0" class="text"></INPUT>
    </p>
    <p>
      <label for="bc">Broadcast</label><br/>
      <INPUT NAME="container[bc]" value="255.255.255.255" class="text"></INPUT>
    </p>
    <p>
      <label for="gw">Gateway</label><br/>
      <INPUT NAME="container[gw]" value="192.168.0.1" class="text"></INPUT>
    </p>
    <p>
      <INPUT TYPE="SUBMIT" value="Save"></INPUT>
    </p>
    </fieldset>
  </form>
</div>
