<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Lexy</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/rails.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
    <script type="text/javascript" src="/js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  </head>
  <body>
    <div id="header" class="container">
      <h1 class="span-8">Lexy</h1>
      <div class="navigation">
        <ul class="top">
          <li><a href="/containers">Containers</a></li>
          <li><a href="/containers/new">Create Container</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/keys">Keys</a></li>
          <li><span style="text-align: right;"><%= `uptime` %></span></li>
        </ul>
        <ul class="bottom">
        </ul>
      </div>
    </div>

    <div id="view" class="container">
      <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
      <% if flash[:error] %><p class="error"><%= flash[:error] %></p><% end %>
      <%= yield %>
    </div>
  </body>
<html>
