#!/bin/bash -e
# 
# rc.local
# 
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.

set -e -x

NAME=<%= startup.name %>
LEXY=/lexy
STARTUP_HOME=$LEXY/$NAME
STARTUP=$STARTUP_HOME/startup.sh
SKIP=/etc/rc.lexy.startup.skip
TZ=America/Los_Angeles

while [ "$1" != "" ]; do
  case $1 in
    --force )
      rm -rf $SKIP
      ;;
  esac
  shift
done

logger -t lexy "Setting TZ to $TZ"

echo $TZ > /etc/timezone
dpkg-reconfigure --frontend noninteractive tzdata 2>&1 | logger -t lexy

logger -t lexy "Starting $STARTUP"

if ! [ -f $SKIP ]; then
  pushd $STARTUP_HOME
  (apt-get -y update && /bin/bash $STARTUP 2>&1 && touch $SKIP) | logger -t lexy
  popd
else
  logger -t lexy "Skipping $STARTUP"
fi

logger -t lexy "Ready"

exit 0
