#!/bin/sh -e
# 
# rc.local
# 
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
# 
# In order to enable or disable this script just change the execution
# bits.
# 
# By default this script does nothing.

echo "Starting..." | logger -t lexy

if ! [ -f /etc/rc.lexy.startup.skip ]; then
  (apt-get update && bash /etc/rc.lexy.startup 2>&1 && touch /etc/rc.lexy.startup.skip) | logger -t lexy
fi

echo "Ready" | logger -t lexy

exit 0
